# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
**/*.asv # matlab
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
.vscode/settings.json
*/*.out
sandbox/revised_powerSweep.png
matlab/*.asv
matlab/sandbox/*.asv
matlab/sweep_yalmip.mat
matlab/fname.mat
matlab/temp
matlab/temp.csv
solutions/diff_evolve_sols.csv
solutions/powerCHORD_sols.csv
Rplots.pdf
matlab/necklace/NeckMat_n_5_d_3.mat
matlab/necklace/NeckMat_n_6_d_3.mat
matlab/necklace/NeckMat_n_8_d_5.mat
matlab/necklace/NeckMat_n_10_d_2.mat
matlab/necklace/NeckMat_n_10_d_3.mat
matlab/necklace/NeckMat_n_10_d_5.mat
matlab/necklace/NeckMat_n_10_d_8.mat
matlab/necklace/NeckMat_n_11_d_5.mat
matlab/necklace/NeckMat_n_12_d_3.mat
matlab/necklace/NeckMat_n_12_d_5.mat
matlab/necklace/NeckMat_n_48_d_5.mat
matlab/necklace/NeckMat_n_144_d_3.mat
matlab/necklace/sbox2.asv
matlab/necklace/sbox.asv
matlab/necklace/sbox.asv
matlab/necklace/c_code/necklaces
matlab/necklace/c_code/necklaces_cmd
matlab/necklace/c_code/test.txt
*.txt
*.csv
*.RDS
*.asv
temp
temp_wide
matlab/necklace/NeckMat_storage/NeckMat_n_5_d_3.mat
matlab/necklace/NeckMat_storage/NeckMat_n_6_d_3.mat
matlab/necklace/NeckMat_storage/NeckMat_n_8_d_5.mat
matlab/necklace/NeckMat_storage/NeckMat_n_10_d_2.mat
matlab/necklace/NeckMat_storage/NeckMat_n_10_d_3.mat
matlab/necklace/NeckMat_storage/NeckMat_n_10_d_5.mat
matlab/necklace/NeckMat_storage/NeckMat_n_10_d_8.mat
matlab/necklace/NeckMat_storage/NeckMat_n_11_d_5.mat
matlab/necklace/NeckMat_storage/NeckMat_n_12_d_3.mat
matlab/necklace/NeckMat_storage/NeckMat_n_12_d_5.mat
matlab/necklace/NeckMat_storage/NeckMat_n_48_d_5.mat
matlab/necklace/NeckMat_storage/NeckMat_n_144_d_3.mat
GSM6616571_KO_day5_SB.norm.rds

table.mat
tmp.mat
scratch/*
archive/*
