cutsdp_sols.csv filter=lfs diff=lfs merge=lfs -text
powerCHORD_even_sols.RDS filter=lfs diff=lfs merge=lfs -text
window_sols.csv filter=lfs diff=lfs merge=lfs -text
window_sols_fp2.csv filter=lfs diff=lfs merge=lfs -text
lomb_out.RDS filter=lfs diff=lfs merge=lfs -text
neck_counts.csv filter=lfs diff=lfs merge=lfs -text
